* {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin-left: 2vw;
}

$headerLinks: 14px;
$linksColor: rgb(48, 48, 48);
$border: 2px solid rgb(208, 208, 208);
$darkLinksColor: rgb(213, 213, 213);

span {
  font-size: 14px;
}

.darkMode {
  background: #202124;
  span {
    color: $darkLinksColor;
  }
  h4 {
    color: $darkLinksColor;
  }
  input[type="text"] {
    color: $darkLinksColor;
    opacity: 1;
    padding-left: 3px;
    text-indent: 3.5vw;
  }
  %button {
    border: #303134;
    background-color: #303134;
    color: $darkLinksColor;
  }
  .lucky {
    border: #303134;
    background-color: #303134;
    cursor: pointer;
    a {
      color: $darkLinksColor;
    }
  }
  #otherSearches {
    display: flex;
    flex-direction: row-reverse;
    a {
      font-size: $headerLinks;
      color: #fff;
    }
  }
}

a {
  text-decoration: none;
}

#firstHeading {
  margin-bottom: -0.8vh;
}

nav {
  display: flex;
}

#logo {
  margin-top: 1vh;
  margin-left: 2vw;
}

#otherSearches {
  display: flex;
  justify-content: center;
  margin-top: 2.6vh;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 49vw;
  a {
    height: fit-content;
    padding: 0 1vw 0 1vw;
    font-size: $headerLinks;
    color: $linksColor;
  }
}

input[type="text"] {
  width: 30vw;
  height: 3vh;
  text-indent: 0.5vw;
}

form {
  display: table;
  border-spacing: 0 15px;
}

p {
  display: table-row;
}

span {
  display: table-cell;
}

input {
  margin-left: 2vw;
  display: table-cell;
}

#sixAndSeven {
  display: flex;
}

#darkLight {
  margin-top: 5vh;
  margin-left: 90vw;
  cursor: pointer;
  position: fixed;
}
