#darkLight {
  margin-right: 75.6vw;
}

#camera {
  visibility: hidden;
}

#searchBox {
  display: flex;
  margin-left: 2.7vw;
}

label {
  cursor: pointer;
  width: 40px;
  display: flex;
  align-items: center;
}
