* {
  font-family: Arial, Helvetica, sans-serif;
}

$headerLinks: 14px;
$linksColor: rgb(48, 48, 48);
$border: 2px solid rgb(208, 208, 208);
$linksDecoration: none;

%button {
  border: $border;
  border-radius: 4px;
  height: 5vh;
  width: 9.5vw;
  font-size: 14px;
  background-color: rgb(208, 208, 208);
  cursor: pointer;
}

a {
  text-decoration: $linksDecoration;
  cursor: pointer;
}

input[type="text"] {
  height: 6vh;
  width: 35vw;
  border-radius: 50px;
  border: $border;
  font-size: 20px;
  background: url(magnify.svg);
  background-size: 5%;
  background-position: 1vw;
  background-repeat: no-repeat;
  padding-left: 3px;
  text-indent: 3.3vw;
}

input[type="text"]:focus {
  height: 6vh;
  width: 35vw;
  border-radius: 50px;
  border: $border;
  font-size: 20px;
}

input[type="submit"] {
  @extend %button;
  color: $linksColor;
}

.lucky {
  @extend %button;
  a {
    color: $linksColor;
  }
}

.otherSearches {
  display: flex;
  a {
    padding: 0 1vw 0 1vw;
    font-size: $headerLinks;
    color: $linksColor;
  }
}
